@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--c-white: #ffffff;
	--c-black: #000000;
	--c-scrim: rgba(0, 0, 0, 0.6);
	--c-pinkLight: #fef4ff;
	--c-pinkPastel: #fdaff0;
	--c-pinkBase: #fc74fe;
	--c-pinkVibrant: #f50db4;
	--c-pinkDark: #361a37;
	--c-redLight: #fff2f1;
	--c-redPastel: #fdcfc4;
	--c-redBase: #ff5f52;
	--c-redVibrant: #ff0000;
	--c-redDark: #220d0c;
	--c-orangeLight: #fef5ea;
	--c-orangePastel: #ffe8bc;
	--c-orangeBase: #ff8934;
	--c-orangeVibrant: #ff4d00;
	--c-orangeDark: #371b0c;
	--c-yellowLight: #fffe8b;
	--c-yellowPastel: #fff8b4;
	--c-yellowBase: #ffbf17;
	--c-yellowVibrant: #fff612;
	--c-yellowDark: #1f1e02;
	--c-brownLight: #f7f6f1;
	--c-brownPastel: #e2e0cd;
	--c-brownBase: #85754a;
	--c-brownVibrant: #996f01;
	--c-brownDark: #231e0f;
	--c-greenLight: #eefbf1;
	--c-greenPastel: #c2e7d0;
	--c-greenBase: #0c8911;
	--c-greenVibrant: #21c95e;
	--c-greenDark: #0f2c1a;
	--c-limeLight: #f7feeb;
	--c-limePastel: #e4f6c4;
	--c-limeBase: #78e744;
	--c-limeVibrant: #b1f13c;
	--c-limeDark: #232917;
	--c-turquoiseLight: #f7feeb;
	--c-turquoisePastel: #caffdf;
	--c-turquoiseBase: #00c3a0;
	--c-turquoiseVibrant: #5cfe9d;
	--c-turquoiseDark: #1a2a21;
	--c-cyanLight: #ebf8ff;
	--c-cyanPastel: #b9e3f8;
	--c-cyanBase: #23a3ff;
	--c-cyanVibrant: #3adcff;
	--c-cyanDark: #15242b;
	--c-blueLight: #eff4ff;
	--c-bluePastel: #d0d9f8;
	--c-blueBase: #4981ff;
	--c-blueVibrant: #0047ff;
	--c-blueDark: #10143d;
	--c-purpleLight: #faf5ff;
	--c-purplePastel: #e9d8fd;
	--c-purpleBase: #9e62ff;
	--c-purpleVibrant: #4300b0;
	--c-purpleDark: #1a0040;
	--c-uniswapXViolet: #4673fa;
	--c-uniswapXPurple: #9646fa;
	--c-fiatOnRampBanner: #fb36d0;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-white: var(--c-white);
	--color-black: var(--c-black);
	--color-scrim: var(--c-scrim);
	--color-neutral1: #222222;
	--color-neutral1Hovered: #131313;
	--color-neutral2: #7d7d7d;
	--color-neutral2Hovered: #6b6b6b;
	--color-neutral3: #bfbfbf;
	--color-neutral3Hovered: #adadad;
	--color-surface1: var(--c-white);
	--color-surface1Hovered: #f9f9f9;
	--color-surface2: #f9f9f9;
	--color-surface2Hovered: #f5f5f5;
	--color-surface3: rgba(34, 34, 34, 0.05);
	--color-surface3Solid: #f2f2f2;
	--color-surface3Hovered: rgba(34, 34, 34, 0.09);
	--color-surface4: rgba(255, 255, 255, 0.64);
	--color-surface5: rgba(0, 0, 0, 0.04);
	--color-accent1: #fc72ff;
	--color-accent1Hovered: #fd3cfe;
	--color-accent2: var(--c-pinkLight);
	--color-accent2Hovered: #feebfc;
	--color-accent3: #222222;
	--color-accent3Hovered: var(--c-black);
	--color-statusSuccess: var(--c-greenVibrant);
	--color-statusSuccess2: var(--c-greenLight);
	--color-statusCritical: var(--c-redBase);
	--color-statusCriticalHovered: #ff3931;
	--color-statusCritical2: var(--c-redLight);
	--color-statusCritical2Hovered: #ffd5d4;
	--color-statusWarning: var(--c-brownVibrant);
	--color-statusWarning2: #fffbeb;
	--color-chain_1: #222222;
	--color-chain_130: #fc0fa4;
	--color-chain_10: #ff0420;
	--color-chain_137: #8247e5;
	--color-chain_42161: #12aaff;
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	.dark {
		--color-white: var(--c-white);
		--color-black: var(--c-black);
		--color-surface1: #131313;
		--color-surface1Hovered: rgba(24, 24, 24, 1);
		--color-surface2: #1b1b1b;
		--color-surface2Hovered: rgba(36, 36, 36, 1);
		--color-surface3: rgba(255, 255, 255, 0.12);
		--color-surface3Solid: #393939;
		--color-surface3Hovered: rgba(255, 255, 255, 0.16);
		--color-surface4: rgba(255, 255, 255, 0.2);
		--color-surface5: rgba(0, 0, 0, 0.04);
		--color-scrim: var(--c-scrim);
		--color-neutral1: var(--c-white);
		--color-neutral1Hovered: #f9f9f9;
		--color-neutral2: #9b9b9b;
		--color-neutral2Hovered: #adadad;
		--color-neutral3: #5e5e5e;
		--color-neutral3Hovered: #6b6b6b;
		--color-accent1: #fc72ff;
		--color-accent1Hovered: #fd3cfe;
		--color-accent2: var(--c-pinkDark);
		--color-accent2Hovered: #510d43;
		--color-accent3: var(--c-white);
		--color-accent3Hovered: #f5f5f5;
		--color-statusSuccess: var(--c-greenVibrant);
		--color-statusSuccess2: var(--c-greenDark);
		--color-statusCritical: var(--c-redBase);
		--color-statusCriticalHovered: #ff3931;
		--color-statusCritical2: var(--c-redDark);
		--color-statusCritical2Hovered: #470402;
		--color-statusWarning: var(--c-yellowBase);
		--color-statusWarning2: var(--c-yellowDark);
		--color-chain_1: var(--c-white);
		--color-chain_130: #fc0fa4;
		--color-chain_10: #ff0420;
		--color-chain_137: #8247e5;
		--color-chain_42161: #12aaff;
	}
}

@layer base {
	* {
		@apply border-border appearance-none outline-none;
	}
	*:focus {
		@apply appearance-none outline-none;
	}

	body {
		@apply bg-background text-foreground;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

	input[type=number] {
			appearance: textfield;
			-moz-appearance: textfield; /* Firefox */
	}
}
